<hr>
<hr>
<p>structural-directives works!</p>
<H2> ✨structural-directives ✨</H2>
<span>Structural Directives denoted by <strong>*</strong> are used to conditionally include or exclude elements from the
    DOM.

    *ngIf, *ngFor, *ngSwitch, *ngTemplate, *ngContainer, *ngTemplateOutlet, *ngPlural are some commonly used structural
    directives in Angular.

    <br>
    Structural Directives - modify the DOM <br>

    Attribute Directives - modify the properties of the DOM elements
</span>

<hr />



<h3>✏️ngIf directive</h3>
<p *ngIf="showElement">This paragraph is conditionally rendered based on the value of <strong>showElement</strong>
    property in the component.</p>
<button (click)="toggleElement()">Toggle Element</button>
<hr>
<h3>✏️ngFor directive</h3>
<ul>
    <li *ngFor="let item of items; let i = index">
        {{i + 1}}. {{item}}
    </li>
</ul>

<hr>
<h3>✏️ngSwitch directive</h3>
<div [ngSwitch]="selectedOption">
    <p *ngSwitchCase="'option1'">You selected Option 1</p>
    <p *ngSwitchCase="'option2'">You selected Option 2</p>
    <p *ngSwitchDefault>Please select an option</p>
</div>
<select [(ngModel)]="selectedOption">
    <option value="">Select an option</option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
</select>
<hr>
<h3>✏️ngTemplate directive</h3>
<div *ngIf="isLoggedIn; else loginTemplate">
    <p>Welcome back, user!</p>

</div>
<ng-template #loginTemplate>
    <p>Please log in to continue.</p>
</ng-template>
<hr>
<h3>✏️ngContainer directive</h3>
<ng-container *ngIf="showContainer">
    <p>This content is inside an ng-container and is conditionally rendered.</p>

</ng-container>
<button (click)="toggleContainer()">Toggle Container</button>
<hr>
<h3>✏️ngTemplateOutlet directive</h3>
<ng-container *ngTemplateOutlet="dynamicTemplate; context: { $implicit: 'Dynamic Content' }"></ng-container>

<ng-template #dynamicTemplate let-content>
    <p>This is a dynamic template with content: {{ content }}</p>
</ng-template>
<hr>
<h3>✏️ngPlural directive</h3>
<div [ngPlural]="itemCount">
    <ng-template ngPluralCase="=0">No items available.</ng-template>
    <ng-template ngPluralCase="=1">One item available.</ng-template>
    <ng-template ngPluralCase="other">{{itemCount}} items available.</ng-template>
</div>
<button (click)="addItem()">Add Item</button>
<button (click)="removeItem()">Remove Item</button>