<p>angular-forms works!</p>
<div class="container">
    <div class="row heading">
      <div class="col-md-12">Angular Forms</div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="nav-item" style="cursor: pointer; padding: 10px; border: 1px solid #ccc; margin: 5px;" (click)="goToTemplateDriven()">
            Template Driven Approach
          </div>
        </div>
        <div class="col-md-12">
          <div class="nav-item" style="cursor: pointer; padding: 10px; border: 1px solid #ccc; margin: 5px;" (click)="goToModelDriven()">
            Model Driven Approach (Reactive Form)
          </div>
        </div>
      </div>
    </div>
</div>