<!-- <p>header-nav-bar works!</p> -->
<header>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a> |
        <a routerLink="/databinding" routerLinkActive="active">Data Binding</a> |
        <a routerLink="/structural-directives" routerLinkActive="active">Structural Directives</a> |
        <a routerLink="/attribute-directives" routerLinkActive="active">Attribute Directives</a> |
        <a routerLink="/passing-data-between-components" routerLinkActive="active">Passing Data Between Components</a> |
        <a routerLink="/template-reference-variable-and-viewchild" routerLinkActive="active">Template Reference Variable & ViewChild</a> |
        <a routerLink="/shared-service-example" routerLinkActive="active">Shared Service Example</a> |
        <a routerLink="/route-example" routerLinkActive="active">Route Example</a> |
        <a routerLink="/code-test-example" routerLinkActive="active">Code Test Example</a> |
        
<!-- 
        <a href="/home" routerLinkActive="active">Home</a>
        <a href="/databinding" routerLinkActive="active">Data Binding</a>
        <a href="/structural-directives" routerLinkActive="active">Structural Directives</a>
        <a href="/attribute-directives" routerLinkActive="active">Attribute Directives</a>
        <a href="/passing-data-between-components" routerLinkActive="active">Passing Data Between Components</a>
 -->

    </nav>
</header>