<div>
  @for (item of [
  { title: 'Explore the Docs', link: 'https://angular.dev' },
  { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
  { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
  { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' },
  { title: 'Angular DevTools', link: 'https://angular.dev/tools/devtools' },
  ]; track item.title) {
  <a class="pill" [href]="item.link" target="_blank" rel="noopener">
    <span>{{ item.title }}<br /></span>

  </a>
  }
</div>
<main>
  <div>


    <div></div>
    <div>


    </div>
  </div>
  <div>
    <app-types-of-data-binding></app-types-of-data-binding>
    <app-structural-directives></app-structural-directives>
    <app-attribute-directives></app-attribute-directives>
    <app-parent>  </app-parent>
    <hr>
    <h2>Service Example</h2>
    <app-first></app-first>
    <app-second></app-second>
    <hr>
    <app-template-reference-variable-and-viewchild></app-template-reference-variable-and-viewchild>
    <hr>
    <app-code-test-example></app-code-test-example>

    
  </div>
</main>



<router-outlet></router-outlet>