<hr />
<app-header-nav-bar></app-header-nav-bar>
<hr />

<router-outlet></router-outlet>

<main>
  <div>


    <div></div>
    <div>


    </div>
  </div>
  <div>

    <!-- <app-structural-directives></app-structural-directives>
    <app-attribute-directives></app-attribute-directives>
    <app-parent>  </app-parent>
    <app-template-reference-variable-and-viewchild></app-template-reference-variable-and-viewchild>
    <hr>
    <app-code-test-example></app-code-test-example>
    
    -->
    <hr />

    <hr />



  </div>
</main>